body{
	background: #d2d2c1 url('imagens/fundo.png');

font:16px arial, helvetica, sans-serif;

}

#principal {
	
	width: 900px;


}


#Menu{
    background: #c5c5b2;
     padding: 18px;
}


#conteudos {
	background: #e8e8d9;
	padding: 10px;
}

a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}
#rodape{
	text-align:center;
}
.centralizar {
	text-align:center;


}

.img-campanha{
	border: 10px solid #c3ceae;
	font-size: 1.2em;
}
h1 {
	color: #828271;
	font-size: 1.2em;
}